<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <ul>
    <% @recipients.each do |recipient| %>
    <form action="/payments/new" method="get">
    <p><%= recipient['name'] %></p>
    <input name="id" type="hidden" value="<%= recipient['id'] %>">
    <input type="submit" value="Send payment">
    </form>
     <% end %>
   </ul>
  </body>
</html>
