<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <ul>
    <% @recipients.each do |recipient| %>
    <p><%= recipient['name'] %></p>
     <% end %>
   </ul>
  </body>
</html>
