<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <% if @payment == 'processing' %>
    <p>Payment sent successfully</p>
<% end %>
  </body>
</html>
