<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    Send payment:
    <form action="/payments" method="post">
      <input type="number" name="amount" required>
      <input type="submit" value="Submit">
    </form>
  </body>
</html>
