<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Fakebook App</title>
  </head>
  <body>
    <h1>Fakebook App</h1>
    <form action="/home" method="post">
    <input type="submit" value="Authenticate">
    </form>
  </body>
</html>
